<div class="logo-wrapper">
  <img src="../../assets/images/logo.png" />
</div>
<hr class="border-gray-300 mx-6" />
<div class="mt-4">
  <side-bar-item name="Home" icon="home"></side-bar-item>
  <side-bar-item name="User Central" icon="user"></side-bar-item>
  <side-bar-item
    name="Access Requests"
    icon="key"
    class="active"
  ></side-bar-item>
  <side-bar-item name="Admin" icon="tool"></side-bar-item>
  <hr class="border-gray-300 mx-6 mt-4" />
  <side-bar-item name="Settings" icon="settings"></side-bar-item>
  <side-bar-item name="Support" icon="help-circle"></side-bar-item>
  <side-bar-item name="Quit" icon="power"></side-bar-item>
  <div class="support-card mx-5 px-3 pt-3 rounded-2xl">
    <div class="">Support 24/7</div>
    <div class="mt-1 mb-3">Contact us anytime</div>
    <div class=""><button class="">Start</button></div>
    <div class="text-center">
      <img src="../../assets/images/girl.png" class="inline" alt="" />
    </div>
  </div>
</div>
