<h2>Audit</h2>
<hr class="my-3" />

<doughnut></doughnut>
<div class="mi-ngalek">
  <h3 class="text-5xl">75%</h3>
  <p>REVIEWED</p>
</div>
<div class="counter mt-12">
  <div class="font-normal text-4xl">38 %</div>
  <div class="description">Segregation Duties</div>
  <div class="w-full bg-gray-200 rounded-full h-1.5 dark:bg-gray-700 mt-4">
    <div class="h-1.5 rounded-full indicator" style="width: 38%"></div>
  </div>
</div>

<div class="counter mt-5">
  <div class="font-normal text-4xl">15 %</div>
  <div class="description">Privileged Access</div>
  <div class="w-full bg-gray-200 rounded-full h-1.5 dark:bg-gray-700 mt-4">
    <div class="h-1.5 rounded-full indicator" style="width: 15%"></div>
  </div>
</div>
