<div class="flex flex-row py-5 h-screen px-3">
  <side-bar class="sidebar h-full"></side-bar>
  <div class="main-panel h-full p-4 px-5 overflow-auto">
    <nav-bar></nav-bar>
    <page-header></page-header>

    <div class="flex justify-between mt-9">
      <icon-card imageUrl="intercom.png" cardTitle="Intercom"></icon-card>
      <icon-card
        imageUrl="googledrive.png"
        cardTitle="Google Drive"
      ></icon-card>
      <icon-card imageUrl="dropbox.png" cardTitle="Dropbox"></icon-card>
      <icon-card
        imageUrl="creativecloud.svg"
        cardTitle="Creative Cloud"
      ></icon-card>
      <icon-card imageUrl="slack.png" cardTitle="Slack"></icon-card>
    </div>
    <div class="flex mt-10">
      <environment class="mx-1 w-72 px-3"> </environment>
      <access-requests class="w-3/4 mx-1 px-3"></access-requests>
      <audit class="mx-2 px-3 w-1/4"></audit>
    </div>
  </div>
</div>
<router-outlet></router-outlet>
