<h2>Enviroments</h2>
<hr class="my-3" />
<table>
  <thead>
    <tr>
      <th>Sys.</th>
      <th>Environment</th>
    </tr>
  </thead>
  <tbody>
    <tr>
      <td>
        <div class="initial">A</div>
      </td>
      <td>
        <div class="flex items-center w-full">
          <div class="circle-dot mr-2"></div>
          HR . Prod
          <i data-feather="link" class="ml-auto"></i>
        </div>
      </td>
    </tr>
    <tr>
      <td>
        <div class="initial">A</div>
      </td>
      <td>
        <div class="flex items-center w-full">
          <div class="circle-dot mr-2"></div>
          HR . Prod
          <i data-feather="link" class="ml-auto"></i>
        </div>
      </td>
    </tr>

    <tr>
      <td>
        <div class="initial">A</div>
      </td>
      <td>
        <div class="flex items-center w-full">
          <div class="circle-dot mr-2"></div>
          HR . Prod
          <i data-feather="link" class="ml-auto"></i>
        </div>
      </td>
    </tr>

    <tr>
      <td>
        <div class="initial">A</div>
      </td>
      <td>
        <div class="flex items-center w-full">
          <div class="circle-dot mr-2"></div>
          HR . Prod
          <i data-feather="link" class="ml-auto"></i>
        </div>
      </td>
    </tr>

    <tr>
      <td>
        <div class="initial">A</div>
      </td>
      <td>
        <div class="flex items-center w-full">
          <div class="circle-dot mr-2"></div>
          HR . Prod
          <i data-feather="link" class="ml-auto"></i>
        </div>
      </td>
    </tr>

    <tr>
      <td>
        <div class="initial">A</div>
      </td>
      <td>
        <div class="flex items-center w-full">
          <div class="circle-dot mr-2"></div>
          HR . Prod
          <i data-feather="link" class="ml-auto"></i>
        </div>
      </td>
    </tr>
  </tbody>
</table>

<div class="flex justify-center mt-4">
  <button class="add-env-button w-full">Add Environment</button>
</div>
