<div class="flex justify-between items-center">
  <div>
    <span class="mx-2 active">HR</span>
    <span class="mx-2">FS</span>
    <span class="mx-2">CS</span>
  </div>
  <div class="flex items-center">
    <div class="relative">
      <i data-feather="bell" class="mx-3"></i>
      <div class="notification-circle"></div>
    </div>
    <img src="../../assets/images/user.jpg" class="rounded-full" alt="" />
    <span class="email ml-3">hello@anthonyslab.com</span>
  </div>
</div>
<progress-bar progressValue="w-56"></progress-bar>
