<div class="shadow-lg p-2 px-8 rounded mb-7">
  <h2 class="text-center">Access Requests</h2>
  <hr class="my-3" />
  <table>
    <thead>
      <tr>
        <th>ID</th>
        <th>Name</th>
        <th>User</th>
        <th class="text-right">Status</th>
      </tr>
    </thead>
    <tbody>
      <tr>
        <td>84793879</td>
        <td>SENTINEL100</td>
        <td>
          <img
            class="rounded-full block user-img"
            src="../../assets/images/user.jpg"
            alt=""
          />
        </td>
        <td>
          <span class="badge-approved">Approved</span>
        </td>
      </tr>

      <tr>
        <td>84793879</td>
        <td>SENTINEL100</td>
        <td>
          <img
            class="rounded-full block user-img"
            src="../../assets/images/user.jpg"
            alt=""
          />
        </td>
        <td>
          <span class="badge-pending">Pending Approval</span>
        </td>
      </tr>

      <tr>
        <td>84793879</td>
        <td>SENTINEL100</td>
        <td>
          <img
            class="rounded-full block user-img"
            src="../../assets/images/user.jpg"
            alt=""
          />
        </td>
        <td>
          <span class="badge-pending">Approved</span>
        </td>
      </tr>

      <tr>
        <td>84793879</td>
        <td>SENTINEL100</td>
        <td>
          <img
            class="rounded-full block user-img"
            src="../../assets/images/user.jpg"
            alt=""
          />
        </td>
        <td>
          <span class="badge-pending">Approved</span>
        </td>
      </tr>

      <tr>
        <td>84793879</td>
        <td>SENTINEL100</td>
        <td>
          <img
            class="rounded-full block user-img"
            src="../../assets/images/user.jpg"
            alt=""
          />
        </td>
        <td>
          <span class="badge-approved">Approved</span>
        </td>
      </tr>
    </tbody>
  </table>
</div>

<div class="shadow-lg p-2 rounded">
  <h2 class="text-center">Request Statistics</h2>
  <hr class="my-3" />
  <bar-chart></bar-chart>
</div>
