//colors
$color-green: #338f6c;
$color-white: #ffffff;
$color-yellow-dark: #e3c992;
$color-yellow-light: #fcf9f3;
$color-red-light: #fdeef3;
$color-red-dark: #dd98ac;
$color-black: #000;
$color-light-green: #43a47e;
$color-grey: #9f9f9f;
$color-dark-blue: #b6e5fd;
$color-light-blue: #eefaff;

//widths
$sidebar-width: 20%;
$sidebar-lg-width: 12%;
